


/*  =================Хедер===================== */
/* =========================Герой =================*/
/* =====================секции================ */
/* .features,
.activities,
.employees{
        list-style: none;
} */

/* =================Преимущества =================*/
/* ====================чем мы занимаемся=============== */
/* ========================Команда==================== */

/* ===============================Клиенты===================== */
/* =======================футер======================= */
/* =========================Подписка на рассылку====================== */
/* =============================Портфолио========================== */

/* =============================фильтры====================== */
/* .portfolio {
        padding-top: 94px;
        padding-bottom: 94px;
} */
