
.activities {
    padding-bottom: 94px;

    &-list {
        display: flex;
    }

    &-link {
        position: relative;
        text-decoration: none;
        display: flex;
    }

    &-discription {
        position: absolute;
        bottom: 0px;
    
        width: 100%;
                
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        text-align: center;
        background-color: rgba(47, 48, 57, 0.8);
        text-transform: uppercase;
        color: $accent-white-color;
        
        padding-top: 27px;
        padding-bottom: 27px;
            
    }
    
}

.activities-list li+li {
    margin-left: 30px;
}


