
.backdrop {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        transition: 250ms linear;
}
        
.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 528px;
        min-height: 581px;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: 250ms linear;
        padding: 40px;

        &-close-btn {
        
                width: 30px;
                height: 30px;
                position: absolute;
                top: 8px;
                right: 8px;
                border-radius: 50%;
                border: 0px;

                cursor: pointer;        
        }
        
}
        
.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}


.modal-form {
        display:flex;
        flex-direction: column;
        
}

.modal-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
        margin-bottom: 12px;
}
.modal-input-wrapper{
        position: relative;
        display: block;
}
.modal-form-input {

        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        margin-bottom: 10px;
        box-sizing: border-box;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:focus {
                outline: none;
                border: 1px solid $accent-color;
        }

}

.modal-form-icon{
        width: 18px;
        height: 18px;
        position: absolute;
        left: 12px;
        top: 11px;
        
        
        .modal-form-input:focus + & {
                fill: $accent-color;
        }

}


.modal-form-btn {
        display: block;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 10px 55px;
        margin: 0 auto;
        margin-top: 30px
}

.user-comment {
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-label {
        display: flex;

        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &::before {
                content: "";
                display: block;
                width: 16px;
                height: 15px;
                border: 2px solid #212121;
                border-radius: 2px;
                margin-right: 8px;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
                
}

.modal-form-policy:checked + .modal-form-policy-label::before {
        background-color: $accent-color;
        background-image: url(../images/icons/check.svg);
        background-size: cover;
        background-repeat:no-repeat;
border: 0px;
}

.policy-link {
        color: $accent-color;
}
