
.filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter li+li{
    margin-left: 8px;
}

.filter .button {
    color: $title-text-color;
    background-color: $button-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    padding: 6px 22px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

    &:hover, 
    &:focus{
        color:$accent-white-color;
        background-color: $accent-color;
}
}


.project-thumb {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;

}

.project-overlay {
    position: absolute;
    bottom: -100%;
    
    width: 100%;
    height: 100%;

    font-style: normal;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: $accent-white-color;  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-thumb:hover &{
        transform: translateY(-100%);
    }

}


/* ===================проэкты=========================== */

.projects {
    display: flex;
    flex-wrap: wrap;
}


.projects .project-link {
    text-decoration: none;
    color: $primary-text-color;
    display: block;
}
.project-img{
    display: block;
}

.projects .title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    margin-top: 0px;
    margin-bottom: 4px;
}

.projects .text{
    font-size: 16px;
    line-height: 1.9;

    /* margin-bottom: 20px; */
    
}

.projects-item {
    background-color: $primary-bg-color;
    max-width: 370px;
    display: flex;
    justify-content: center;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }

}

.projects-text {
    padding: 20px 24px;
   
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}



