.btn {
    display:inline-flex;
    justify-content: center;
    align-content: center;
    min-width: 200px;
    height: 50px;

    color: $accent-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    .hero &{

        text-decoration: none;
    
        padding: 10px 32px;    
    }

}