.socials{
    display: flex;
    justify-content: center;
  }
.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    justify-content: center;
    align-items: center;
    display: flex;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-size: cover;
    background-color: $primary-bg-color;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accent-color;
    }

}

.social-icon {  
    width: 20px;
    height: 20px;
    fill: #afb1b8;

    .social-link:hover &,
    .social-link:focus & {
    fill: #ffffff;
    }
    
}


