.container {
    width: 100%;
    padding: 0 15px;
    // outline: 2px solid red;
    margin: 0 auto;


    .hero & {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    @media screen and (min-width: 480px){
        max-width: 480px;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px){
        max-width: 768px;
    }

    @media screen and (min-width: 1200px){
        max-width: 1200px;
    }
    
}





    





